body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth
}

body {
  background: #fff;
  color: #666;
  font-size: 18px;
  line-height: 28px;
  -webkit-text-size-adjust: none
}

blockquote, ol, p, ul {
  margin: 0 0 20px
}

.hidden {
  display: none !important
}

.visible {
  display: block !important
}

@media (min-width: 576px) {
  .hidden-xs {
    display: none !important
  }

  .visible-xs {
    display: block !important
  }
}

@media (min-width: 768px) {
  .hidden-sm {
    display: none !important
  }

  .visible-sm {
    display: block !important
  }
}

@media (min-width: 992px) {
  .hidden-md {
    display: none !important
  }

  .visible-md {
    display: block !important
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important
  }

  .visible-lg {
    display: block !important
  }
}

@media (min-width: 1440px) {
  .hidden-xl {
    display: none !important
  }

  .visible-xl {
    display: block !important
  }
}

.success, .warning {
  padding: 20px;
  margin: 20px -20px
}

.success {
  background: #393
}

.warning {
  background: #c30
}

.warning-soft {
  border-left: 4px solid #c30;
  background: rgba(255, 255, 255, .5);
  color: #666;
  padding: 20px;
  margin: 20px 0
}

.warning-soft code {
  color: rgba(102, 102, 102, .7)
}

#hamburger {
  background: #34495e;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  opacity: .95;
  display: block;
  width: 100%;
  height: 45px;
  margin: -80px 0 10px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 15
}

#hamburger .mburger {
  margin-left: 15px;
  --mb-button-size: 46px;
  --mb-bar-height: 2px;
  --mb-bar-width: 0.8;
  --mb-bar-spacing: 10px
}

@media (min-width: 768px) {
  #hamburger {
    background: 0 0;
    border: none;
    opacity: 1;
    width: 90px;
    height: 50px;
    margin-top: -60px;
    margin-left: 30px;
    top: 20px
  }

  #hamburger .mburger {
    margin-left: 0
  }
}

#menu:not(.mm-menu), .mm-menu {
  display: none
}

body .mm-menu {
  font-size: 16px;
  --mm-line-height: 26px;
  --mm-navbar-size: 50px;
  --mm-listitem-size: 50px;
  --mm-iconpanel-size: 60px;
  --mm-iconbar-size: 60px
}

body .mm-slideout {
  --mm-sidebar-collapsed-size: 60px
}

#menu .menu-text {
  padding: 40px 40px 0 60px
}

#menu .menu-text:after {
  border: none !important
}

#menu .menu-text p {
  margin: 0
}

.mm-panel > p {
  padding: 20px;
  margin: 0
}

.mm-panel_iconpanel-first .fa {
  font-size: 16px;
  text-align: center;
  color: #999;
  line-height: 25px;
  width: 25px;
  margin-right: 15px;
  float: left;
  -webkit-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease
}

.mm-panel_iconpanel-first .mm-divider {
  padding-left: 60px;
  font-size: 14px;
  font-weight: 600;
}

.mm-panel_iconpanel-first .mm-listitem:after {
  left: 60px
}

.mm-menu_opened .mm-panel_opened.mm-panel_iconpanel-first .fa {
  color: #3ea7e1
}

.mm-panel__blocker {
  display: block !important;
  opacity: 0 !important
}

.mm-panel_search {
  left: 0 !important;
  right: 0 !important;
  width: 100% !important
}

.mm-panel_search .fa {
  display: none
}

.mm-panel__searchsplash {
  text-align: center;
  opacity: .6;
  padding-top: 40px
}

.mm-panel__searchsplash a {
  display: inline-block;
  padding: 5px
}

#page {
  background: #34495e;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 100%;
  min-height: 100vh;
  padding: 80px 0 120px 0;
  position: relative
}

/*@media (min-width: 992px) {*/
  /*body.home #page {*/
    /*position: relative*/
  /*}*/

  /*body.home #page:before {*/
    /*content: '';*/
    /*width: 45%;*/
    /*height: 900px;*/
    /*background: url(../img/iphonex-perspective-black.png) 0 0 no-repeat transparent;*/
    /*background-size: auto 850px;*/
    /*position: absolute;*/
    /*top: calc(100vh - 725px);*/
    /*left: 55%*/
  /*}*/
/*}*/

/*body.p404, body.p404 #page {*/
  /*background: #e34545*/
/*}*/

/*body.p404 .container {*/
  /*text-align: center*/
/*}*/

/*body.p404 h1 {*/
  /*letter-spacing: -10px;*/
  /*font-size: 200px*/
/*}*/

/*@media (min-width: 576px) {*/
  /*body.p404 h1 {*/
    /*letter-spacing: -15px;*/
    /*font-size: 300px*/
  /*}*/
/*}*/

/*@media (min-width: 768px) {*/
  /*body.p404 h1 {*/
    /*letter-spacing: -20px;*/
    /*font-size: 400px*/
  /*}*/
/*}*/

/*@media (min-width: 768px) {*/
  /*body:not(.p404):not(.docready) #page {*/
    /*width: calc(100% - 60px);*/
    /*-webkit-transform: translate3d(60px, 0, 0);*/
    /*transform: translate3d(60px, 0, 0);*/
    /*-webkit-transition: none;*/
    /*-o-transition: none;*/
    /*transition: none*/
  /*}*/
/*}*/

/*@media (min-width: 1440px) {*/
  /*body:not(.p404):not(.docready) #page {*/
    /*width: calc(100% - 440px);*/
    /*-webkit-transform: translate3d(440px, 0, 0);*/
    /*transform: translate3d(440px, 0, 0);*/
    /*-webkit-transition: none;*/
    /*-o-transition: none;*/
    /*transition: none*/
  /*}*/
/*}*/

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 992px;
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto
}

.container.header {
  padding-bottom: 50px
}

@media (min-width: 576px) {
  .container {
    width: 90%
  }
}

@media (min-width: 768px) {
  .container {
    width: 80%
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -20px
}

.col {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0 20px
}

.col-12 {
  width: 100%
}

.col-10 {
  width: 80%
}

.col-9 {
  width: 75%
}

.col-8 {
  width: 66.66%
}

.col-6 {
  width: 50%
}

.col-4 {
  width: 33.33%
}

.col-3 {
  width: 25%
}

.col-2 {
  width: 20%
}

@media (min-width: 576px) {
  .col-xs-12 {
    width: 100%
  }

  .col-xs-10 {
    width: 80%
  }

  .col-xs-9 {
    width: 75%
  }

  .col-xs-8 {
    width: 66.66%
  }

  .col-xs-6 {
    width: 50%
  }

  .col-xs-4 {
    width: 33.33%
  }

  .col-xs-3 {
    width: 25%
  }

  .col-xs-2 {
    width: 20%
  }
}

@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%
  }

  .col-sm-10 {
    width: 80%
  }

  .col-sm-9 {
    width: 75%
  }

  .col-sm-8 {
    width: 66.66%
  }

  .col-sm-6 {
    width: 50%
  }

  .col-sm-4 {
    width: 33.33%
  }

  .col-sm-3 {
    width: 25%
  }

  .col-sm-2 {
    width: 20%
  }
}

@media (min-width: 992px) {
  .col-md-12 {
    width: 100%
  }

  .col-md-10 {
    width: 80%
  }

  .col-md-9 {
    width: 75%
  }

  .col-md-8 {
    width: 66.66%
  }

  .col-md-6 {
    width: 50%
  }

  .col-md-4 {
    width: 33.33%
  }

  .col-md-3 {
    width: 25%
  }

  .col-md-2 {
    width: 20%
  }
}

@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%
  }

  .col-lg-10 {
    width: 80%
  }

  .col-lg-9 {
    width: 75%
  }

  .col-lg-8 {
    width: 66.66%
  }

  .col-lg-6 {
    width: 50%
  }

  .col-lg-4 {
    width: 33.33%
  }

  .col-lg-3 {
    width: 25%
  }

  .col-lg-2 {
    width: 20%
  }
}

/*.features {*/
  /*background: rgba(255, 255, 255, .7);*/
  /*color: #666;*/
  /*padding: 80px 0;*/
  /*overflow: hidden*/
/*}*/

/*@media (min-width: 992px) {*/
  /*.features--after-tablet {*/
    /*margin-top: -200px;*/
    /*padding-top: 150px*/
  /*}*/
/*}*/

/*.features h3, .features h4, .features h5, .features h6 {*/
  /*font-weight: 100;*/
  /*font-size: 30px;*/
  /*color: #3ea7e1*/
/*}*/

/*.features a {*/
  /*color: #3ea7e1*/
/*}*/

/*.features pre {*/
  /*background-color: rgba(0, 0, 0, .75)*/
/*}*/

/*.features [class*=col-] + .col pre {*/
  /*border-left-color: rgba(255, 255, 255, .4)*/
/*}*/

/*.feature {*/
  /*padding: 40px 0;*/
  /*position: relative*/
/*}*/

/*.feature h4 {*/
  /*margin-top: 20px*/
/*}*/

/*@media (min-width: 768px) {*/
  /*.feature {*/
    /*padding: 80px 0*/
  /*}*/

  /*.feature:first-child {*/
    /*padding-top: 40px*/
  /*}*/

  /*.feature + .feature {*/
    /*border-top: 1px solid rgba(0, 0, 0, .1)*/
  /*}*/
/*}*/

/*.feature_noborder {*/
  /*border-top: none !important;*/
  /*padding-top: 0 !important*/
/*}*/

/*.feature_rotatable-tablets, .feature_stacked-phones {*/
  /*padding-bottom: 0*/
/*}*/

/*.feature_rotatable-tablets + .feature, .feature_stacked-phones + .feature {*/
  /*border-top: none*/
/*}*/

/*.feature_rotatable-tablets p {*/
  /*position: relative;*/
  /*z-index: 1*/
/*}*/

/*.feature_cta > * {*/
  /*vertical-align: middle;*/
  /*display: inline-block*/
/*}*/

/*.feature_cta h4 {*/
  /*margin: 20px 0 5px 0*/
/*}*/

/*.feature_cta .btn {*/
  /*background-color: rgba(255, 255, 255, .3);*/
  /*border-color: #3ea7e1;*/
  /*color: #3ea7e1;*/
  /*display: block;*/
  /*padding-left: 30px;*/
  /*padding-right: 30px;*/
  /*margin-top: 20px*/
/*}*/

/*@media (min-width: 992px) {*/
  /*.feature_cta .btn {*/
    /*float: right*/
  /*}*/
/*}*/

/*.feature_cta .btn:hover {*/
  /*background-color: rgba(255, 255, 255, .4)*/
/*}*/

/*.feature_customize {*/
  /*padding-top: 0;*/
  /*padding-bottom: 0*/
/*}*/

/*.feature_customize p {*/
  /*padding: 20px 0;*/
  /*margin: 0;*/
  /*position: relative*/
/*}*/

/*.feature_customize p img {*/
  /*display: none*/
/*}*/

/*@media (min-width: 768px) {*/
  /*.feature_customize p {*/
    /*border-top: 1px solid rgba(0, 0, 0, .1);*/
    /*min-height: 50px;*/
    /*padding: 120px 0 120px 45%*/
  /*}*/

  /*.feature_customize p:first-child {*/
    /*border-top: none*/
  /*}*/

  /*.feature_customize p img {*/
    /*-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);*/
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, .2);*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 30px;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*right: calc(55% + 50px);*/
    /*-webkit-transform: translateY(-50%);*/
    /*-ms-transform: translateY(-50%);*/
    /*transform: translateY(-50%)*/
  /*}*/

  /*.feature_customize p img:first-child {*/
    /*display: block*/
  /*}*/

  /*.feature_customize p:nth-child(even) {*/
    /*padding: 120px 45% 120px 0*/
  /*}*/

  /*.feature_customize p:nth-child(even) img {*/
    /*right: auto;*/
    /*left: calc(55% + 50px)*/
  /*}*/
/*}*/

/*@media (min-width: 992px) {*/
  /*.feature_customize p img {*/
    /*display: block*/
  /*}*/

  /*.feature_customize p img:nth-child(2) {*/
    /*right: calc(55% + 260px)*/
  /*}*/

  /*.feature_customize p img:nth-child(3) {*/
    /*right: calc(55% + 470px)*/
  /*}*/

  /*.feature_customize p img:nth-child(4) {*/
    /*right: calc(55% + 680px)*/
  /*}*/

  /*.feature_customize p:nth-child(even) img:nth-child(2) {*/
    /*left: calc(55% + 260px)*/
  /*}*/

  /*.feature_customize p:nth-child(even) img:nth-child(3) {*/
    /*left: calc(55% + 470px)*/
  /*}*/

  /*.feature_customize p:nth-child(even) img:nth-child(4) {*/
    /*left: calc(55% + 680px)*/
  /*}*/
/*}*/

/*.btn, .buttons {*/
  /*-webkit-box-shadow: 6px 8px 1px rgba(0, 0, 0, .1);*/
  /*box-shadow: 6px 8px 1px rgba(0, 0, 0, .1);*/
  /*border-radius: 8px;*/
  /*overflow: hidden;*/
  /*margin: 0*/
/*}*/

/*.btn .font, .buttons .font {*/
  /*font-size: 35px;*/
  /*text-align: center;*/
  /*display: block*/
/*}*/

/*.btn .sub, .buttons .sub {*/
  /*font-size: 13px;*/
  /*font-weight: 400;*/
  /*text-align: center;*/
  /*display: block*/
/*}*/

/*.btn, .buttons a {*/
  /*text-decoration: none !important;*/
  /*line-height: 25px*/
/*}*/

/*.btn {*/
  /*border: 1px solid rgba(255, 255, 255, .7);*/
  /*font-weight: 700;*/
  /*color: #fff;*/
  /*display: inline-block;*/
  /*padding: 12px 24px;*/
  /*margin: 10px 10px 0 0;*/
  /*-webkit-transition: none .2s ease;*/
  /*-o-transition: none .2s ease;*/
  /*transition: none .2s ease;*/
  /*-webkit-transition-property: background-color, border-color, -webkit-box-shadow, -webkit-transform;*/
  /*transition-property: background-color, border-color, -webkit-box-shadow, -webkit-transform;*/
  /*-o-transition-property: background-color, border-color, box-shadow, transform;*/
  /*transition-property: background-color, border-color, box-shadow, transform;*/
  /*transition-property: background-color, border-color, box-shadow, transform, -webkit-box-shadow, -webkit-transform*/
/*}*/

/*.btn:hover {*/
  /*background-color: rgba(255, 255, 255, .05);*/
  /*-webkit-box-shadow: 4px 6px 0 rgba(0, 0, 0, .15);*/
  /*box-shadow: 4px 6px 0 rgba(0, 0, 0, .15);*/
  /*-webkit-transform: translateY(2px);*/
  /*-ms-transform: translateY(2px);*/
  /*transform: translateY(2px)*/
/*}*/

.buttons a {
  background: rgba(255, 255, 255, .7);
  display: block;
  padding: 20px 0 10px 0;
  margin: 0;
  -webkit-transition: background-color .2s ease;
  -o-transition: background-color .2s ease;
  transition: background-color .2s ease
}

.buttons a:hover {
  background-color: rgba(255, 255, 255, .85)
}

.buttons a .font {
  color: #3ea7e1
}

.buttons a .sub {
  color: #666
}

.buttons a + a {
  border-top: 1px solid rgba(62, 167, 225, .7)
}

@media (min-width: 576px) {
  .buttons [class*=col-xs-] + .col {
    border-top: none;
    border-left: 1px solid rgba(62, 167, 225, .7)
  }
}

@media (min-width: 768px) {
  .buttons [class*=col-sm-] + .col {
    border-top: none;
    border-left: 1px solid rgba(62, 167, 225, .7)
  }
}

@media (min-width: 992px) {
  .buttons [class*=col-md-] + .col {
    border-top: none;
    border-left: 1px solid rgba(62, 167, 225, .7)
  }
}

@media (min-width: 1200px) {
  .buttons [class*=col-lg-] + .col {
    border-top: none;
    border-left: 1px solid rgba(62, 167, 225, .7)
  }
}

@media (min-width: 1440px) {
  .buttons [class*=col-xl-] + .col {
    border-top: none;
    border-left: 1px solid rgba(62, 167, 225, .7)
  }
}

.features .btn {
  border: 1px solid #3ea7e1
}

.container > .buttons:first-child:last-child {
  margin: 80px 0 0 0
}

.next {
  border-top: 1px solid rgba(255, 255, 255, .5);
  padding: 80px 20px 0 20px;
  margin: 80px -20px 0 -20px
}

.next .btn {
  margin-top: 10px
}

.next_noborder {
  border-top: none;
  padding-top: 0
}

@media (min-width: 576px) {
  .next_noborder-xs {
    border-top: none;
    padding-top: 0
  }
}

@media (min-width: 768px) {
  .next_noborder-sm {
    border-top: none;
    padding-top: 0
  }
}

@media (min-width: 992px) {
  .next_noborder-md {
    border-top: none;
    padding-top: 0
  }
}

@media (min-width: 1200px) {
  .next_noborder-lg {
    border-top: none;
    padding-top: 0
  }
}

@media (min-width: 1440px) {
  .next_noborder-xl {
    border-top: none;
    padding-top: 0
  }
}

h1.has-submenu {
  margin-bottom: 10px;
  position: relative;
  z-index: 11
}

h1 .submenutext {
  display: none
}

.submenu {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  line-height: 20px;
  opacity: .95;
  margin: 30px -20px 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10
}

.submenu + * {
  margin-top: 80px
}

.submenu li, .submenu ul {
  list-style: none;
  display: block;
  padding: 0
}

.submenu ul {
  background: #3ea7e1;
  border-bottom: 8px solid rgba(0, 0, 0, .1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0
}

.submenu ul:after {
  content: '';
  display: block;
  clear: both
}

.submenu li {
  margin: 0
}

.submenu a {
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  border: none;
  position: relative
}

.submenu a:after {
  content: '';
  background-color: rgba(0, 0, 0, 0);
  display: block;
  height: 8px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  -webkit-transition: background-color .6s ease;
  -o-transition: background-color .6s ease;
  transition: background-color .6s ease
}

.submenu a:hover:after, .submenu li.selected a:after, .submenu:hover li.selected a:hover:after {
  background-color: rgba(0, 0, 0, .1)
}

.submenu:hover li.selected a:after {
  background-color: rgba(0, 0, 0, 0)
}

/*.responsive-video {*/
  /*background: #333;*/
  /*-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .5);*/
  /*box-shadow: 0 0 30px rgba(0, 0, 0, .5);*/
  /*width: 100%;*/
  /*height: 0;*/
  /*padding-top: 56%;*/
  /*position: relative*/
/*}*/

/*.responsive-video iframe {*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0*/
/*}*/

/*.table {*/
  /*width: calc(100% + 40px);*/
  /*margin: 20px -20px*/
/*}*/

/*.table td {*/
  /*-webkit-box-sizing: border-box;*/
  /*box-sizing: border-box;*/
  /*border: none;*/
  /*vertical-align: top*/
/*}*/

/*.table tfoot, .table thead {*/
  /*font-size: 15px*/
/*}*/

/*.table thead {*/
  /*background: rgba(255, 255, 255, .7);*/
  /*color: #3ea7e1*/
/*}*/

/*.table thead td {*/
  /*padding-top: 10px;*/
  /*padding-bottom: 10px*/
/*}*/

/*.table tfoot td {*/
  /*padding-top: 0;*/
  /*padding-bottom: 0*/
/*}*/

/*.table tfoot tr:first-child td {*/
  /*padding-top: 20px*/
/*}*/

/*.table tfoot tr:last-child td {*/
  /*padding-bottom: 20px*/
/*}*/

/*.table .close, .table .open {*/
  /*padding-top: 0*/
/*}*/

/*.table .sub-open + tr td {*/
  /*padding-top: 0*/
/*}*/

/*.table tbody tr + tr, .table tfoot tr:first-child {*/
  /*position: relative*/
/*}*/

/*.table tbody tr + tr:after, .table tfoot tr:first-child:after {*/
  /*content: '';*/
  /*display: block;*/
  /*border-top: 1px solid rgba(255, 255, 255, .5);*/
  /*position: absolute;*/
  /*left: 0;*/
  /*right: 0;*/
  /*top: 0*/
/*}*/

/*.table .divider + tr:after, .table .sub-close:after, .table .sub-open + tr:after, .table .sub-open:after {*/
  /*content: none;*/
  /*display: none*/
/*}*/

/*.table .sub-1:after {*/
  /*left: 50px*/
/*}*/

/*.table .sub-1 .close, .table .sub-1 .name, .table .sub-1 .open {*/
  /*padding-left: 50px*/
/*}*/

/*.table .sub-2:after {*/
  /*left: 75px*/
/*}*/

/*.table .sub-2 .close, .table .sub-2 .name, .table .sub-2 .open {*/
  /*padding-left: 75px*/
/*}*/

/*.table .sub-3:after {*/
  /*left: 100px*/
/*}*/

/*.table .sub-3 .close, .table .sub-3 .name, .table .sub-3 .open {*/
  /*padding-left: 100px*/
/*}*/

/*.table .divider td {*/
  /*font-size: 15px;*/
  /*text-transform: uppercase;*/
  /*opacity: .7;*/
  /*padding-bottom: 0*/
/*}*/

/*@media (max-width: 991px) {*/
  /*.table td:empty, .table thead {*/
    /*display: none*/
  /*}*/

  /*.table tr {*/
    /*display: block;*/
    /*width: 100%;*/
    /*overflow: hidden*/
  /*}*/

  /*.table td {*/
    /*display: block;*/
    /*padding: 20px*/
  /*}*/

  /*.table .name {*/
    /*font-weight: 700;*/
    /*width: auto;*/
    /*padding-right: 5px;*/
    /*padding-bottom: 0;*/
    /*float: left*/
  /*}*/

  /*.table .datatype {*/
    /*width: auto;*/
    /*padding-left: 0;*/
    /*padding-bottom: 0;*/
    /*float: left*/
  /*}*/

  /*.table .datatype em:before {*/
    /*content: '('*/
  /*}*/

  /*.table .datatype em:after {*/
    /*content: ')'*/
  /*}*/

  /*.table .default {*/
    /*width: 100%;*/
    /*padding-top: 0;*/
    /*clear: left*/
  /*}*/

  /*.table .default:before {*/
    /*content: 'Default: '*/
  /*}*/

  /*.table .description {*/
    /*width: 100%;*/
    /*padding-top: 0;*/
    /*clear: left*/
  /*}*/

  /*.table .sub-1 td:not(.datatype) {*/
    /*padding-left: 50px*/
  /*}*/

  /*.table .sub-2 td:not(.datatype) {*/
    /*padding-left: 75px*/
  /*}*/

  /*.table .sub-3 td:not(.datatype) {*/
    /*padding-left: 100px*/
  /*}*/
/*}*/

/*@media (min-width: 992px) {*/
  /*.table td {*/
    /*padding: 20px 10px*/
  /*}*/

  /*.table .close, .table .name, .table .open, .table .text {*/
    /*padding-left: 20px*/
  /*}*/

  /*.table .name {*/
    /*width: 20%*/
  /*}*/

  /*.table .datatype {*/
    /*width: 15%*/
  /*}*/

  /*.table .default {*/
    /*width: 20%*/
  /*}*/

  /*.table .description {*/
    /*width: 45%*/
  /*}*/
/*}*/

.burgers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 40px -10px 80px
}

.burger {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(50% - 20px);
  padding-top: calc(50% - 20px);
  margin: 10px;
  background: rgba(255, 255, 255, .05);
  -webkit-box-shadow: 6px 8px 1px rgba(0, 0, 0, .1);
  box-shadow: 6px 8px 1px rgba(0, 0, 0, .1);
  -webkit-transition: none .2s ease;
  -o-transition: none .2s ease;
  transition: none .2s ease;
  -webkit-transition-property: background-color, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, -webkit-box-shadow, -webkit-transform;
  -o-transition-property: background-color, box-shadow, transform;
  transition-property: background-color, box-shadow, transform;
  transition-property: background-color, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  cursor: pointer;
  font-size: 15px;
  text-align: center
}

.burger:hover {
  background: rgba(255, 255, 255, .15);
  -webkit-box-shadow: 4px 6px 0 rgba(0, 0, 0, .15);
  box-shadow: 4px 6px 0 rgba(0, 0, 0, .15);
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px)
}

.burger button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.burger .mburger {
  --mb-cross-timeout: 0s;
  --mb-animate-timeout: 0s
}

.burger span {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0
}

@media (min-width: 992px) {
  .burger {
    width: calc(25% - 20px);
    padding-top: calc(25% - 20px)
  }
}

/*#playground .phone {*/
  /*position: -webkit-sticky;*/
  /*position: sticky;*/
  /*top: 45px*/
/*}*/

/*#playground-options {*/
  /*position: relative;*/
  /*z-index: 2;*/
  /*margin: 60px 0;*/
  /*--mm-color-text: #fff*/
/*}*/

/*#playground-options .mm-listitem {*/
  /*-webkit-box-align: center;*/
  /*-ms-flex-align: center;*/
  /*align-items: center;*/
  /*padding: 15px 0;*/
  /*border-bottom: 1px solid rgba(255, 255, 255, .5)*/
/*}*/

/*#playground-options .mm-listitem:first-child {*/
  /*border-top: 1px solid rgba(255, 255, 255, .5)*/
/*}*/

/*#playground-options .mm-listitem:after {*/
  /*content: none*/
/*}*/

/*#playground-options .mm-listitem a, #playground-options .mm-listitem span {*/
  /*padding: 0;*/
  /*-o-text-overflow: clip;*/
  /*text-overflow: clip;*/
  /*white-space: normal*/
/*}*/

/*#playground-options .mm-listitem + .mm-divider {*/
  /*padding-top: 30px*/
/*}*/

/*#playground-options .mm-divider {*/
  /*padding: 0;*/
  /*border: none;*/
  /*background: 0 0;*/
  /*font-size: 15px;*/
  /*text-transform: uppercase;*/
  /*opacity: .7*/
/*}*/

/*#playground-options .mm-divider:before {*/
  /*content: none*/
/*}*/

/*#playground-options + pre {*/
  /*margin: 60px 0*/
/*}*/

/*#playground__code.hljs {*/
  /*background: unset;*/
  /*display: unset;*/
  /*overflow-x: unset;*/
  /*padding: unset;*/
  /*background: unset;*/
  /*color: unset*/
/*}*/


/*#home-intro {*/
  /*-webkit-box-align: center;*/
  /*-ms-flex-align: center;*/
  /*align-items: center;*/
  /*min-height: calc(100vh - 160px);*/
  /*padding: 0 0 80px 0;*/
  /*margin: 0;*/
  /*position: relative*/
/*}*/

/*#home-intro h1 {*/
  /*letter-spacing: -5px;*/
  /*font-size: 100px;*/
  /*margin: 0*/
/*}*/

/*@media (min-width: 576px) {*/
  /*#home-intro h1 {*/
    /*letter-spacing: -10px;*/
    /*font-size: 150px*/
  /*}*/
/*}*/

/*#home-intro h4 {*/
  /*margin: 20px 0 40px 0*/
/*}*/

/*#changelog > li {*/
  /*margin-top: 20px*/
/*}*/

/*#wp-screenshot h4 {*/
  /*display: none*/
/*}*/


input:focus, textarea:focus {
  outline-style: solid;
  outline-width: 2px;
}

textarea[name=content] {
  max-height: 500px;
  resize: none;
}

.mm-listitem.active {
  background-color: #1abc9c;
  color: #fff;
}

.mm-listitem.active small, .mm-listitem.active i {
  color: #fff;
}

.mm-menu_opened .mm-panel_opened.mm-panel_iconpanel-first .mm-listitem.active .fa {
  color: #fff;
}