{% extends 'portal/user/layout.html' %}
{% load static %}
{% block title_content %}{{ object.username }}的领地{% endblock %}
{% block css_user %}
  <style>
    .visitors img.avatar {
      width: 30px;
      height: 30px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 5px;
    }
  .img-container {
    width: 100px!important;
  }
  </style>
{% endblock %}
{% block modals %}
  <div id="novel-create-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="create novel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">创建作品</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block main_user %}
  <div class="page-header header-filter" data-parallax="true"
       style="background-image: url('{% static 'portal/images/background/1920x1200/bg4.jpeg' %}');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="{{ user.avatar.url }}" alt="Circle Image"
                     class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">
                {% with name=object.nickname|default:object.username %}

                  <h3 class="title">{% if object.is_author %}{{ object.authorinfo.name }} ({{ name }}){% else %}
                    {{ name }}{% endif %}</h3>
                {% endwith %}
                <h6><span
                    class="badge badge-{{ object.is_author|yesno:'rose,secondary' }}">{{ object.is_author|yesno:'作家,读者' }}</span>
                </h6>
                {# 放徽章 #}
                <a href="#" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-whatsapp"></i></a>
                <a href="#" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-youtube"></i></a>
                <a href="#" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
            <div class="follow">
              <button class="btn btn-fab btn-primary btn-round" rel="tooltip" title="Follow this user">
                <i class="material-icons">favorite</i>
              </button>
            </div>
          </div>
        </div>
        <div class="description text-center">
          <p>{{ object.description }}</p>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <!--
                                                        color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                                -->
                <li class="nav-item">
                  <a class="nav-link active" href="#profile" role="tab" data-toggle="tab" data-url="{% url 'portal:user_profile_tab' object.id %}">
                    <i class="material-icons">face</i>
                    首页
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#circle" role="tab" data-toggle="tab" data-url="{% url 'portal:user_circle_tab' object.id %}">
                    <i class="material-icons">camera</i>
                    书友圈
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#works" role="tab" data-toggle="tab" data-url="{% url 'portal:user_works_tab' object.id %}">
                    <i class="material-icons">library_books</i>
                    我的作品
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#settings" role="tab" data-toggle="tab">
                    <i class="material-icons">settings</i>
                    账号设置
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-9 ml-auto mr-auto ">
            <div class="tab-content tab-space">
              <div class="tab-pane active" id="profile">
                <div class="ui fluid placeholder ml-4 mt-4 mb-5">
                  <div class="image header">
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                  <div class="paragraph">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                </div>
                <div class="ui fluid placeholder ml-4 mt-4 mb-5">
                  <div class="image header">
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                  <div class="paragraph">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="circle">
                <div class="ui fluid placeholder ml-4 mt-4 mb-5">
                  <div class="image header">
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                  <div class="paragraph">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                </div>
                <div class="ui fluid placeholder ml-4 mt-4 mb-5">
                  <div class="image header">
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                  <div class="paragraph">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="works">
                <div class="ui fluid placeholder ml-4 mt-4 mb-5">
                  <div class="image header">
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                  <div class="paragraph">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="settings">
                <div class="ui fluid placeholder ml-4 mt-4 mb-5">
                  <div class="image header">
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                  <div class="paragraph">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 mr-auto ml-auto stats">
            <h4 class="title">阅历</h4>
            <ul class="list-unstyled">
              <li><b>{{ user.novel_set.count }}</b> 作品</li>
              <li><b>0</b> 书单</li>
              <li><b>0</b> 粉丝</li>
              <li><b>331</b> 创作天数</li>
            </ul>
            <hr>
            <h4 class="title">获得荣誉</h4>
            <p class="description"><span class="badge badge-rose">鸽神</span></p>
            <hr>
            <h4 class="title">最近访客</h4>
            <p class="visitors">
              <a href="#" data-toggle="tooltip" title="大傻子">
                <img src="{% static 'portal/images/avatar2.jpg' %}" alt="visitor" class="avatar img-raised">
              </a>
              <a href="#" data-toggle="tooltip" title="二傻子">
                <img src="{% static 'portal/images/avatar3.jpg' %}" alt="visitor" class="avatar img-raised">
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js_user %}
  <script src="{% static 'portal/libs/jasny-bootstrap.min.js' %}"></script>
  <script src="{% static 'portal/libs/bootstrap-selectpicker.js' %}"></script>
  <script>
    'use strict';

    let categories = {{ categories|safe }};
    let User = (function () {
      // Tab
      function request(tab, relatedTab) {
        tab = tab || '[data-toggle="tab"][href="#profile"]';
        let $tab = $(tab), $tabContent = $($tab.attr('href'));
        $(relatedTab).find('div.ui.placeholder').show();
        $tabContent.find(':not(.ui,.image,.line,.paragraph,.placeholder)').remove();
        $tabContent.find('div.ui.placeholder').show();
        $.ajax({
          url: $tab.attr('data-url'),
          success: function (res) {
            $tabContent.find('div.ui.placeholder').hide();
            $tabContent.prepend(res);
          },
        })
      }
      request();
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        request(e.target, e.relatedTarget)
      });

      function initSelect() {
        $('.selectpicker').selectpicker('setStyle', 'btn-link', 'add');
            $('select[name=category]').on('change', function () {
              let $this = $(this), val = $this.val();
              if (val) {
                val = parseInt(val);
                $.each(categories, function (ci, c) {
                  if (c['id'] === val) {
                    let options = '<option value selected>请选择</option>';
                    $.each(c['sub'], function (si, s) {
                      options += '<option value="{0}">{1}</option>'.format(s['id'], s['name'])
                    });
                    $('select[name=sub_category]').removeAttr('disabled').html(
                      options).selectpicker('refresh');
                  }
                })
              } else {
                $('select[name=sub_category]').attr('disabled', true).selectpicker('refresh')
              }
            });
      }

      // New Work
      let $novelCreateModal = $('#novel-create-modal');
      $novelCreateModal.on('show.bs.modal', function (e) {
        $.ajax({
          url: '{% url 'portal:novel_create' %}',
          success: function (res) {
            $novelCreateModal.find('div.modal-body').html(res);
            let $form = $novelCreateModal.find('form');

            // Select init
            initSelect();

            // Validator init
            let validator = $form.validate({
              errorPlacement: function (error, element) {
                error.appendTo(element.parent())
              },
              errorClass: 'errorlist d-block'
            });
            $form.submit(function (e) {
              e.preventDefault();
              // validate
              if (!validator.form()) {
                return false
              }
              var formdata = new FormData();
              $.each($form.serializeArray(), function (i, item) {
                formdata.append(item.name, item.value)
              });
              formdata.append('cover', $('input[name=cover]')[0].files[0]);
              $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: formdata,
                processData:false, //告诉jQuery不要去处理发送的数据
                contentType:false,// 告诉jQuery不要去设置Content-Type请求头
                success: function (res) {
                  if (res.indexOf('class="errorlist"') >= 0) {
                    $novelCreateModal.find('div.modal-body').html(res);
                    initSelect();
                  } else {
                    $novelCreateModal.modal('hide');
                    request('[data-toggle="tab"][href="#works"]')
                  }
                }
              })
            });
          }
        })
      });

    })();

  </script>
{% endblock %}