{% extends 'portal/layout.html' %}
{% load static %}
{% block title_content %}编辑《{{ novel.name }}》{% endblock %}
{% block css %}
  <link href="{% static 'portal/css/docs.min.css' %}" rel="stylesheet">
{% endblock %}
{% block modals %}
  <div id="new-chapter-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">新增章节</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'portal:novel_chapter_create' novel.id %}"></form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block main_base %}
  <header class="navbar navbar-expand navbar-dark bg-dark flex-column flex-md-row bd-navbar">
    <a class="navbar-brand mr-md-2">
      沙之书
    </a>
     -- <span class="ml-3">编辑《{{ novel.name }}》</span>
  </header>
  <div class="container-fluid">
    <div class="row flex-xl-nowrap">
      <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
        <nav class="collapse bd-links" id="bd-docs-nav">
          <div class="bd-toc-item active">
            <button id="new-chapter" class="btn btn-primary btn-raised btn-block mb-4">新增章节</button>
            {% with chapters=novel.chapter_set.all %}
              {% if chapters.count > 0 %}
                {% for chapter in chapters %}
                  <a class="bd-toc-link" href="{% url 'portal:novel_update' novel.id %}?chapter={{ chapter.id }}">
                    {{ chapter.name }}
                  </a>
                {% endfor %}
              {% else %}
                <a class="bd-toc-link">暂无章节</a>
              {% endif %}

            {% endwith %}

          </div>
        </nav>
      </div>
      <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
{#        <h1 class="bd-title" id="content">Introduction</h1>#}
        {% if chapter %}
          <div class="form-group">
            {{ form.title }}
          </div>
          <div class="form-group">
            {{ form.content|safe|linebreaksbr }}
          </div>
        {% endif %}
      </main>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script>
    $(function () {
      $('#new-chapter').click(function () {
        let $this = $(this);
        $this.attr('disabled', true);
        $.ajax({
          url: '{% url 'portal:novel_chapter_create' novel.id %}',
          data: {'novel': '{{ novel.id }}'},
          type: 'POST',
          success: function (res) {
            console.log(res)
            if (res.result) {
              let data = $.parseJSON(res.data);
              window.location.href = data.url
            }

            $this.removeAttr('disabled');
          },
          error: function () {
            $this.removeAttr('disabled');
          }
        })
      });
    })
  </script>
{% endblock %}