{% extends 'portal/layout.html' %}
{% load static i18n %}
{% block title_content %}首页{% endblock %}
{% block css %}
  <link href="https://cdn.bootcss.com/Swiper/4.5.1/css/swiper.min.css" rel="stylesheet">
  <link href="http://q8exls826.bkt.clouddn.com/wowslider/style.css" rel="stylesheet">
  <style>
    #slider-wrap {
      margin: 0 auto;
    }

    #wowslider-container1 .ws-title div, #wowslider-container1 .ws-title span {
      border-width: 3px;
      padding-top: 3px;
      padding-bottom: 3px;
    }

    #content {
      padding-top: 0;
    }

    @media (max-width: 992px) {


    }

    @media (max-width: 768px) {
      #wowslider-container1 .ws-title {
        font-size: 4em !important;
      }
    }

    .novel-col {
      padding: 10px 5px;
      overflow: hidden;
    }

    .novel-col > a {
      display: block;
      position: relative;
      overflow: hidden;
      min-height: auto;
      text-align: left;
      text-shadow: 1px 1px 1px #000;
    }

    .novel-name {
      padding-top: 10px;
      height: 2.5em;
      text-align: center;
      font-size: 1.4rem;
      margin: 0;
      font-weight: normal;
    }

    .novel-category {
      margin-bottom: 3px;
      padding: 10px 0 3px 5px;
      height: 28px;
      overflow: hidden;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 1;
      color: #eee;
      font-size: 12px;
      background: rgba(0, 0, 0, .3);
      background: url(/static/images/backgroud_sm/gradient.png) 0 0 repeat-x;
      background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.35) 65%, rgba(0, 0, 0, 0.6));
      background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.35) 65%, rgba(0, 0, 0, 0.6));
      background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.35) 65%, rgba(0, 0, 0, 0.6));
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.35) 65%, rgba(0, 0, 0, 0.6));
    }

    .novel-cover {
      {#height: 186px;#}
      width: 100%;
      display: inline;
    }

  </style>
{% endblock %}

{% block page_content %}
  {# Sliders #}
  <section id="banner">
    <div class="row" id="slider-wrap">
      <div id="wowslider-container1">
        <div class="ws_images">
          <ul>
            <li>
              <a href="#">
                <img src="{% static 'portal/images/sliders/slide1.png' %}" alt="封面" title="不要依赖梦想而忘记生活。">
              </a>—— J.K.罗琳 《哈利波特与魔法石》
            </li>
            <li>
              <a href="#">
                <img src="{% static 'portal/images/sliders/slide2.png' %}" alt="封面" title="小人物改变历史，因为他们别无选择。">
              </a>—— 托尔金
            </li>
            <li>
              <a href="#">
                <img src="{% static 'portal/images/sliders/slide3.png' %}" alt="封面" title="最蠢的人通常也比嘲笑他们的家伙聪明。">
              </a>—— 泰温·兰尼斯特
            </li>

          </ul>
        </div>
        <div class="ws_bullets">
          <div>
            <a role="button" title=""><span>1</span></a>
            <a role="button" title=""><span>2</span></a>
            <a role="button" title=""><span>3</span></a>
          </div>
        </div>
        <div class="ws_script" style="position:absolute;left:-99%"></div>
        <div class="ws_shadow"></div>
      </div>
    </div>
  </section>


  <section id="latest-update">
    <div class="container">
      <div class="row">
        <div class="section-heading">最近更新</div>
        <div class="col-lg-9 col-md-9 col-sm-12">
            {% for item in latest_novels %}
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 novel-col">
                <a href="{% url 'portal:novel_detail' item.id %}" target="_blank">
                  <img class="novel-cover" src="{{ item.cover.url }}" alt="《{{ item.name }}》封面">
                  <span class="novel-category">{{ item.category.name }} · {{ item.sub_category.name }}</span>
                </a>
                <h4 class="novel-name">
                  <a class="text-dark" href="{% url 'portal:novel_detail' item.id %}" target="_blank">{{ item.name }}</a>
                </h4>
              </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>

        <aside>
          <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            边栏
          </div>
        </aside>
      </div>

    </div>

  </section>
{% endblock %}
{% block js %}
  <script src="http://q8exls826.bkt.clouddn.com/wowslider/wowslider.js"></script>
  <script src="http://q8exls826.bkt.clouddn.com/wowslider/script.js"></script>
  <script>

  </script>
{% endblock %}