{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
  {#  <link rel="icon" type="image/png" href="../assets/img/favicon.png">#}
  <title>{% block title_content %}{% endblock %} - 沙之书</title>
  {% block css_base %}
    <link href="{% static 'portal/libs/material/material_css.css' %}?v=1" rel="stylesheet">
    <link href="{% static 'portal/libs/material/material-kit.min.css' %}?v=2.2.0" rel="stylesheet">
    <link href="{% static 'portal/libs/font-awesome/font-awesome.min.css' %}?v=4.7.0" rel="stylesheet">
{#    <link href="{% static 'libs/material/vertical-nav.css' %}" rel="stylesheet">#}
    <link href="{% static 'portal/css/main.css' %}?v=11" rel="stylesheet">
  {% endblock %}
  {% block css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block modals %}{% endblock %}
{% block main_base %}{% endblock %}
{% block js_base %}
  <script src="{% static 'portal/libs/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'portal/libs/jquery/popper.min.js' %}"></script>
{#  <script src="{% static 'libs/material/vertical-nav.js' %}"></script>#}
{#  <script async defer src="{% static 'libs/material/buttons.js' %}"></script>#}
{#  <script src="{% static 'libs/material/modernizr.js' %}"></script>#}
  <script src="{% static 'portal/libs/material/bootstrap-material-design.min.js' %}"></script>
  <script src="{% static 'portal/libs/material/material-kit.min.js' %}?v=1"></script>
  <script src="{% static 'portal/libs/validate/dist/jquery.validate.min.js' %}"></script>
  <script src="{% static 'portal/js/main.js' %}?v=1"></script>

  <script>
  $('[data-toggle=tooltip]').tooltip()
  </script>
{% endblock %}
{% block js %}{% endblock %}
</body>
</html>