{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
  {#  <link rel="icon" type="image/png" href="../assets/img/favicon.png">#}
  <title>{% block title_content %}{% endblock %} - 沙之书</title>
  {% block css_base %}
{#    <link href="{% static 'portal/libs/material/material_css.css' %}?v=1" rel="stylesheet">#}
    <link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">
{#    <link href="{% static 'portal/libs/material/material-kit.min.css' %}?v=2.2.0" rel="stylesheet">#}
    <link href="http://q8exls826.bkt.clouddn.com/material-kit.min.css" rel="stylesheet">
{#    <link href="{% static 'portal/libs/font-awesome/font-awesome.min.css' %}?v=4.7.0" rel="stylesheet">#}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" >
{#    <link href="{% static 'libs/material/vertical-nav.css' %}" rel="stylesheet">#}
{#    <link href="{% static 'portal/libs/notie/notie.min.css' %}" rel="stylesheet">#}
    <link href="https://cdn.bootcss.com/notie/4.3.1/notie.min.css" rel="stylesheet">
    <link href="{% static 'portal/css/main.css' %}?v=19" rel="stylesheet">
  {% endblock %}
  {% block css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
<div class="modal fade show" id="login-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-login" role="document">
    <div class="modal-content">
      <div class="card card-signup card-plain">
        <div class="modal-header mb-4">
          <div class="card-header card-header-primary text-center">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
            <h4 class="card-title">登录</h4>
            <div class="social-line">
              <a href="#" class="btn btn-just-icon btn-link btn-white" disabled="disabled" data-toggle="tooltip" title="暂不可用">
                <i class="fa fa-qq"></i>
              </a>
              <a href="#" class="btn btn-just-icon btn-link btn-white" disabled="disabled" data-toggle="tooltip" title="暂不可用">
                <i class="fa fa-weixin"></i>
              </a>
              <a href="#" class="btn btn-just-icon btn-link btn-white" disabled="disabled" data-toggle="tooltip" title="暂不可用">
                <i class="fa fa-weibo"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <form class="form" method="post" action="{% url 'portal:account_login' %}?json=true">
            {% csrf_token %}
            <p class="card-description text-center">或使用账号登录 </p>
            <p class="card-description text-center">没有账号？<a href="{% url 'portal:account_signup' %}">快速注册</a> <a
                href="{% url 'portal:account_password_recover' %}">忘记密码</a></p>
            {{ login_form.non_field_errors }}
            <div class="form-group bmd-form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">face</i>
                  </span>
                </div>
                {{ login_form.username }}
              </div>
            </div>
            <div class="form-group bmd-form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">lock_outline</i>
                  </span>
                </div>
                {{ login_form.password }}
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer justify-content-center pt-0">
          <button type="submit" class="btn btn-primary btn-link btn-wd btn-lg">登 录</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% block modals %}{% endblock %}
{% if messages %}
  <ul class="messages" hidden>
    {% for message in messages %}
      <li class="message" data-level="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% block main_base %}{% endblock %}
{% block js_base %}
{#  <script src="{% static 'portal/libs/jquery/jquery.min.js' %}"></script>#}
  <script src="http://q8exls826.bkt.clouddn.com/jquery.min.js"></script>
{#  <script src="{% static 'portal/libs/jquery/popper.min.js' %}"></script>#}
  <script src="http://q8exls826.bkt.clouddn.com/popper.min.js"></script>
{#  <script src="{% static 'libs/material/vertical-nav.js' %}"></script>#}
{#  <script async defer src="{% static 'libs/material/buttons.js' %}"></script>#}
{#  <script src="{% static 'libs/material/modernizr.js' %}"></script>#}
{#  <script src="{% static 'portal/libs/material/bootstrap-material-design.min.js' %}"></script>#}
  <script src="http://q8exls826.bkt.clouddn.com/bootstrap-material-design.js"></script>
{#  <script src="https://cdn.bootcss.com/bootstrap-material-design/4.0.2/bootstrap-material-design.umd.min.js"></script>#}
{#  <script src="{% static 'portal/libs/material/material-kit.min.js' %}?v=1"></script>#}
  <script src="http://q8exls826.bkt.clouddn.com/material-kit.min.js"></script>
{#  <script src="{% static 'js/validate/dist/jquery.validate.min.js' %}"></script>#}
  <script src="http://q8exls826.bkt.clouddn.com/jquery.validate.min.js"></script>
{#  <script src="{% static 'portal/libs/notie/notie.min.js' %}"></script>#}
  <script src="http://q8exls826.bkt.clouddn.com/notie.min.js"></script>
  <script src="{% static 'js/main.js' %}?v=13"></script>
  <script>
    $('[data-toggle=tooltip]').tooltip();
    let id = '{{ ID }}', str = '{{ STR }}';
  </script>
{% endblock %}
{% block js %}{% endblock %}
<script>
  let Portal = {
    urls: {
      isLogin: '{% url 'portal:account_is_login' %}',
    },
    $loginModal: $('#login-modal'),
    init: function () {
      return this.bindUIActions(), this
    },
    bindUIActions: function () {
        this.validateForms();
        this.bindLoginModal();
    },
    validateForm: function validateForm($form) {
      let validator = $form.validate({
        errorPlacement: function (error, element) {
          error.appendTo(element.parent().parent())
        },
        errorClass: 'errorlist d-block'
      });
      $form.submit(function (e) {
        // validate
        if (!validator.form()) {
          return false
        }
      });
      return validator
    },
    validateForms: function () {
      let self = this;
      $(function () {
        $.each($('form'), function (i, item) {
        let $form = $(item);
        self.validateForm($form)
      });
      })

    },
    bindLoginModal: function () {
      console.log('bindLoginModal')
      let $loginForm = this.$loginModal.find('form');
      $loginForm.submit(function (e) {
        e.preventDefault();
        $.ajax({
          url: $(this).attr('action'),
          type: $(this).attr('method'),
          data: $(this).serialize(),
          success: function (res) {
            if (res.result) {
              window.location.reload()
            }
          }
        })
      });
      this.$loginModal.find('button[type=submit]').click(function () {
        $loginForm.trigger('submit')
      })
    }

  }.init()

  </script>
</body>
</html>