{% extends 'portal/account/layout.html' %}
{% load static %}
{% load common_tags %}
{% block title_content %}找回密码{% endblock %}
{% block page_content %}
  <div class="login" style="background: url('http://image.sandbook.club/bg/1920x1200/bg2.jpg')">
    <div class="row login-screen">
      <div class="row form-wrap col-sm-10 col-md-6 col-lg-3 col-xl-3">
        <div class="form-title">
          <div class="login-icon">
            <h1>
              找回密码
            </h1>
          </div>
        </div>
        <div class="login-form">
          <form method="post">
            {{ form.non_field_errors }}
            {% csrf_token %}
            <div class="form-group">
              {{ form.email }}
              {{ form.email|to_label:'login-field-icon fui-mail' }}
              {{ form.email.errors }}
            </div>
            <button class="btn btn-primary btn-lg btn-block">找回密码</button>
            <a class="login-link" href="{% url 'portal:account_login' %}">登录</a>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}