{% extends 'portal/account/layout.html' %}
{% load static %}
{% block title_content %}找回密码{% endblock %}
{% block body_class %}login-page sidebar-collapse{% endblock %}
{% block main_account %}
  <div class="page-header header-filter"
       style="background-image: url('{% static 'portal/images/background/1920x1200/bg2.jpg' %}'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
          <form class="form" method="post" action="{% url 'portal:account_password_recover' %}">
            {% csrf_token %}
            <div class="card card-login card-hidden">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">找回密码</h4>
              </div>
              <div class="card-body ">
                <p class="card-description text-center">请输入你注册时的邮箱</p>
                {{ form.non_field_errors }}
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    {{ form.email }}
                  </div>
                  {{ form.email.errors }}
                </span>
              </div>
              <div class="card-footer justify-content-center">
                <button type="submit" class="btn btn-rose btn-link btn-lg">找回密码</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% include 'portal/blocks/footer.html' %}
  </div>
{% endblock %}