{% extends 'portal/account/layout.html' %}
{% load static %}
{% block title_content %}重置密码成功{% endblock %}
{% block css_account %}
  <style>
  .login-form {
    background-color: rgba(0,0,0, 0.5);
  }
  </style>
{% endblock %}
{% block page_content %}
  <div class="login" style="background: url('http://image.sandbook.club/bg/1920x1200/bg3.jpg')">
    <div class="row login-screen">
      <div class="row form-wrap col-sm-10 col-md-6 col-lg-3 col-xl-3">
        <div class="login-form">
          <h2><i class="fui-check text-success"></i> 重置密码成功</h2>
          <p>恭喜你，重置密码成功！</p>
          <p class="text-light">你的账号密码已经被重置，请使用新密码登录。</p>
          <p>
            <a class="btn btn-sm btn-link mr-2" href="{% url 'portal:account_login' %}">登录</a>
            <a class="btn btn-sm btn-link" href="{% url 'portal:index' %}">去首页</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
