{% extends 'portal/account/layout.html' %}
{% load static %}
{% load common_tags %}
{% block title_content %}重置密码{% endblock %}
{% block page_content %}
  <div class="login" style="background: url('http://q9p9ifea6.bkt.clouddn.com/bg/1920x1200/bg3.jpg')">
    <div class="row login-screen">
      <div class="row form-wrap col-sm-10 col-md-6 col-lg-3 col-xl-3">
        <div class="form-title">
          <div class="login-icon">
            <h1>
              重置密码
            </h1>
          </div>
        </div>
        {% if form %}
          <div class="login-form">
            <form method="post">
              {{ form.non_field_errors }}
              {% csrf_token %}
              <div class="form-group">
                {{ form.new_password1 }}
                {{ form.new_password1|to_label:'login-field-icon fui-lock' }}
                {{ form.new_password1.errors }}
              </div>
              <div class="form-group">
                {{ form.new_password2 }}
                {{ form.new_password2|to_label:'login-field-icon fui-lock' }}
                {{ form.new_password2.errors }}
              </div>
              <button class="btn btn-primary btn-lg btn-block">重置</button>
            </form>
          </div>
        {% else %}
          <div class="login-form" style="background-color: rgba(0,0,0, 0.5);">
            <h2><i class="fui-alert-circle text-warning"></i> 无效链接</h2>
            <p>对不起，这个链接可能已经失效。</p>
            <p>如果有任何疑问，请通过邮件等方式联系我们。</p>
            <p>
              <a class="btn btn-sm btn-link mr-2" href="{% url 'portal:account_login' %}">登录</a>
              <a class="btn btn-sm btn-link" href="{% url 'portal:index' %}">去首页</a>
            </p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
{% block js_account %}
  <script>
    $(function () {
      let $form = $('form');
      let validator = $form.validate({
        rules: {
          new_password2: {
            equalTo: 'input[name=new_password1]',
            minlength: 8
          }
        },
        messages: {
          new_password2: {
            equalTo: '两次输入的密码不一致',
            minlength: 8
          }
        },
        errorPlacement: function (error, element) {
          error.appendTo(element.parent().parent())
        },
        errorClass: 'errorlist d-block'
      });
      $form.submit(function (e) {
        // validate
        if (!validator.form()) {
          return false
        }
      })
    })
  </script>
{% endblock %}