{% load static %}
{% load novel_tags %}
<div class="panel">
  <div class="panel-heading">
    <div class="">
      <h2 class="h3 m-0 d-inline">我的书架</h2>
    </div>
  </div>
  <div class="panel-body">
    <div class="media-list">
      <div class="col-xs-4 col-sm-3 col-lg-2">
        <a href="#" target="_blank">
          <img class="cover-sm"
               src="https://cdn.qm989.com/bookimg/public/images/cover/9bf3/d3b03e0ccff10e3d33440c12cff961e9.jpg"
               alt="cover">
        </a>
        <h4 class="media-heading mt-3"><a class="text-dark" href="#" target="_blank">无敌剑域</a></h4>
      </div>
      <div class="col-xs-4 col-sm-3 col-lg-2">
        <a href="#" target="_blank">
          <img class="cover-sm"
               src="https://cdn.qm989.com/bookimg/public/images/cover/9bf3/d3b03e0ccff10e3d33440c12cff961e9.jpg"
               alt="cover">
        </a>
        <h4 class="media-heading mt-3"><a class="text-dark" href="#" target="_blank">无敌剑域</a></h4>
      </div>
      <div class="col-xs-4 col-sm-3 col-lg-2">
        <a href="#" target="_blank">
          <img class="cover-sm"
               src="https://cdn.qm989.com/bookimg/public/images/cover/9bf3/d3b03e0ccff10e3d33440c12cff961e9.jpg"
               alt="cover">
        </a>
        <h4 class="media-heading mt-3"><a class="text-dark" href="#" target="_blank">无敌剑域</a></h4>
      </div>
      <div class="col-xs-4 col-sm-3 col-lg-2">
        <a href="#" target="_blank">
          <img class="cover-sm"
               src="https://cdn.qm989.com/bookimg/public/images/cover/9bf3/d3b03e0ccff10e3d33440c12cff961e9.jpg"
               alt="cover">
        </a>
        <h4 class="media-heading mt-3"><a class="text-dark" href="#" target="_blank">无敌剑域</a></h4>
      </div>
      <div class="col-xs-4 col-sm-3 col-lg-2">
        <a href="#" target="_blank">
          <img class="cover-sm"
               src="https://cdn.qm989.com/bookimg/public/images/cover/9bf3/d3b03e0ccff10e3d33440c12cff961e9.jpg"
               alt="cover">
        </a>
        <h4 class="media-heading mt-3"><a class="text-dark" href="#" target="_blank">无敌剑域</a></h4>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
