<table border="0" cellspacing="0" cellpadding="0" style="font-family: '微软雅黑',Roboto-Regular,Helvetica,Arial,sans-serif; max-width: 600px;">
  <tbody>
	<tr height="16"></tr>
	<tr>
	  <td>
	    <table bgcolor="#9c27b0" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 332px; max-width: 600px; border: 1px solid #E0E0E0; border-bottom: 0; border-top-left-radius: 3px; border-top-right-radius: 3px;">
		  <tbody>
		    <tr>
			  <td height="72px" colspan="3"></td>
			</tr>
			<tr>
			  <td width="32px"></td>
			  <td style="font-size: 24px; color: #FFFFFF; line-height: 1.25;">{{ subject }}</td>
			  <td width="32px"></td>
			</tr>
			<tr>
			  <td height="18px" colspan="3"></td>
			</tr>
	      </tbody>
		</table>
	  </td>
	</tr>
	<tr>
	  <td>
	    <table bgcolor="#FAFAFA" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 332px; max-width: 600px; border: 1px solid #F0F0F0; border-bottom: 1px solid #C0C0C0; border-top: 0; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;">
		  <tbody>
		    <tr height="16px">
			  <td width="32px" rowspan="3"></td>
			  <td></td>
			  <td width="32px" rowspan="3"></td>
			</tr>
			<tr>
			  <td>
				{{ content }}
				<p style="float: right">沙之书<br>{{ date }}</p>
			  </td>
			</tr>
			<tr height="32px"></tr>
		  </tbody>
		</table>
	  </td>
	</tr>
	<tr height="16"></tr>
	<tr>
	  <td style="max-width: 600px; font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 10px; color: #BCBCBC; line-height: 1.5;"></td>
	</tr>
	<tr>
	  <td>此电子邮件地址无法接收回复。如有任何问题，请发送邮件至：sandbookadmin@163.com。<br>Copyright 2018 沙之书
	    <table style="font-family: Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 10px; color: #666666; line-height: 18px; padding-bottom: 10px"></table>
	  </td>
	</tr>
  </tbody>
</table>