{% for item in circles %}
<div class="media">
  <a class="float-left" href="#pablo">
    <div class="avatar">
      <img class="media-object" src="../assets/img/faces/card-profile4-square.jpg" alt="...">
    </div>
  </a>
  <div class="media-body">
    <h4 class="media-heading">Tina Andrew
      <small>· 7 minutes ago</small>
    </h4>
    <h6 class="text-muted"></h6>
    <p>Chance too good. God level bars. I'm so proud of @LifeOfDesiigner #1 song in the country. Panda! Don't be scared
      of the truth because we need to restart the human foundation in truth I stand with the most humility. We are so
      blessed!</p>
    <div class="media-footer">
      <a href="#pablo" class="btn btn-primary btn-link float-right" rel="tooltip" title=""
         data-original-title="Reply to Comment">
        <i class="material-icons">reply</i> Reply
      </a>
      <a href="#pablo" class="btn btn-danger btn-link float-right">
        <i class="material-icons">favorite</i> 243
      </a>
    </div>
  </div>
</div>
{% endfor %}