{% load static %}
<h4 class="title">我的书架</h4>
<div class="row collections">
  <div class="col-4 col-lg-3">
    <div class="card card-profile ml-auto mr-auto" style="max-width: 360px">
      <div class="card-header card-header-image">
        <a href="#pablo">
          <img class="img"
               src="https://cdn.qm989.com/bookimg/public/images/cover/9bf3/d3b03e0ccff10e3d33440c12cff961e9.jpg">
        </a>
        <div class="colored-shadow"
             style="background-image: url('https://cdn.qm989.com/bookimg/public/images/cover/9bf3/d3b03e0ccff10e3d33440c12cff961e9.jpg'); opacity: 1;"></div>
      </div>
      <div class="card-body ">
        <h4 class="card-title mb-0"><a class="text-dark" href="#">无敌剑域</a></h4>
        <h6 class="card-category mt-1 text-gray"><a class="text-secondary" href="#">青鸾峰上</a> 著</h6>
        <div class="card-stats">
          <small class="stats ml-auto d-block">
            更新时间：2018-10-16
          </small>

        </div>
      </div>
    </div>
  </div>
  <div class="col-4 col-lg-3">
    <div class="card card-profile ml-auto mr-auto" style="max-width: 360px">
      <div class="card-header card-header-image">
        <a href="#pablo">
          <img class="img" src="https://cdn.qm989.com/bookimg/public/images/cover/a3c6/af9628f5f41beec1741633b84fcf11e3.jpg">
        </a>
        <div class="colored-shadow"
             style="background-image: url('https://cdn.qm989.com/bookimg/public/images/cover/a3c6/af9628f5f41beec1741633b84fcf11e3.jpg'); opacity: 1;"></div>
      </div>
      <div class="card-body ">
        <h4 class="card-title mb-0"><a class="text-dark" href="#">史上第一密探</a></h4>
        <h6 class="card-category mt-1 text-gray"><a class="text-secondary" href="#">小武叔</a> 著</h6>
        <div class="card-stats">
          <small class="stats d-block">
            更新时间：1天前
          </small>

        </div>
      </div>
    </div>
  </div>
  <div class="col-4 col-lg-3">
    <div class="card card-profile ml-auto mr-auto" style="max-width: 360px">
      <div class="card-header card-header-image">
        <a href="#pablo">
          <img class="img"
               src="https://cdn.qm989.com/bookimg/public/images/cover/38af/c0c813f352051ff9b33101d1d964307b.jpg">
        </a>
        <div class="colored-shadow"
             style="background-image: url('https://cdn.qm989.com/bookimg/public/images/cover/38af/c0c813f352051ff9b33101d1d964307b.jpg'); opacity: 1;"></div>
      </div>
      <div class="card-body ">
        <h4 class="card-title mb-0"><a class="text-dark" href="#">北冥神剑</a></h4>
        <h6 class="card-category mt-1 text-gray"><a class="text-secondary" href="#">池衡水榭</a> 著</h6>
      </div>
    </div>
  </div>
  <div class="col-4 col-lg-3">
    <div class="card card-profile ml-auto mr-auto" style="max-width: 360px">
      <div class="card-header card-header-image">
        <a href="#pablo">
          <img class="img"
               src="https://cdn.qm989.com/bookimg/public/images/cover/9bf3/9f5aba9c4209fcb9952cc7192e743516.jpg">
        </a>
        <div class="colored-shadow"
             style="background-image: url('https://cdn.qm989.com/bookimg/public/images/cover/9bf3/9f5aba9c4209fcb9952cc7192e743516.jpg'); opacity: 1;"></div>
      </div>
      <div class="card-body ">
        <h4 class="card-title mb-0"><a class="text-dark" href="#">无仙</a></h4>
        <h6 class="card-category mt-1 text-gray"><a class="text-secondary" href="#">曳光</a> 著</h6>
      </div>
    </div>
  </div>
  <div class="col-4 col-lg-3">
    <div class="card card-profile ml-auto mr-auto" style="max-width: 360px">
      <div class="card-header card-header-image">
        <a href="#pablo">
          <img class="img"
               src="https://cdn.qm989.com/bookimg/public/images/cover/9bf3/9f5aba9c4209fcb9952cc7192e743516.jpg">
        </a>
        <div class="colored-shadow"
             style="background-image: url('https://cdn.qm989.com/bookimg/public/images/cover/9bf3/9f5aba9c4209fcb9952cc7192e743516.jpg'); opacity: 1;"></div>
      </div>
      <div class="card-body ">
        <h4 class="card-title mb-0"><a class="text-dark" href="#">无仙</a></h4>
        <h6 class="card-category mt-1 text-gray"><a class="text-secondary" href="#">曳光</a> 著</h6>
      </div>
    </div>
  </div>
</div>