{% extends 'portal/account/layout.html' %}
{% load static %}
{% block title_content %}激活成功{% endblock %}
{% block body_class %}login-page sidebar-collapse{% endblock %}
{% block main_account %}
  <div class="page-header header-filter"
       style="background-image: url('{% static 'portal/images/background/1920x1200/bg1.jpg' %}'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
          <div class="info">
            {% if valid_link %}
              <div class="icon icon-success">
                <i class="material-icons">done</i>
              </div>
              <h4 class="info-title text-light">激活成功</h4>
              <p class="text-light">恭喜你，你的账号已经激活，现在可以正常使用了。</p>
              <p>
                <a class="btn btn-sm btn-success mr-2" href="{% url 'portal:account_login' %}">登录</a>
                <a class="btn btn-sm btn-secondary" href="{% url 'portal:index' %}">去首页</a>
              </p>
            {% else %}
              <div class="icon icon-danger">
                <i class="material-icons">cancel</i>
              </div>
              <h4 class="info-title text-light">验证异常</h4>
              <p class="text-light">抱歉，你访问的页面验证未通过。如果你之前已经成功激活账号，请忽略并关闭此页面。</p>
              <p>
                <a class="btn btn-sm btn-secondary" href="{% url 'portal:index' %}">去首页</a>
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}