{% load static %}
{% load common_tags %}
<h4 class="title">最新动态</h4>
{% for activity in activities %}
<div class="media">
  <a class="float-left" href="#">
    <div class="avatar">
      <img class="media-object" src="{% if activity.type == 1 %}{{ user.avatar.url }}{% else %}{{ system_robot.avatar.url }}{% endif %}" alt="...">
    </div>
  </a>
  <div class="media-body">
    <h5 class="media-heading">
      <a class="text-info" href="#">{% if activity.type == 1 %}{{ user.nickname|default:user.username }}{% else %}{{ system_robot.nickname|default:user.username }}{% endif %}</a>
      <small>{{ activity.created_at|render_datetime }}</small>
    </h5>
    <h6 class="text-muted"></h6>
    <p>{{ activity.content }}</p>
    <div class="media-footer">
      <a href="#" class="btn btn-primary btn-link float-right" rel="tooltip" title=""
         data-original-title="Reply to Comment">
        <i class="material-icons">reply</i> 回复
      </a>
      <a href="#" class="btn {% if activity.user_likes %}btn-danger{% endif %} btn-link float-right">
        <i class="material-icons">favorite</i> {{ activity.user_likes|length }}
      </a>
    </div>
  </div>
</div>
{% endfor %}