{% load static %}
{% load novel_tags %}
{% if object.is_author %}
  {% if works.count == 0 %}
    {# 没有作品 #}
    <div class="card card-raised card-background" style="background-image: url('{% static 'portal/images/test/bg2.jpeg' %}')">
      <div class="card-body">
        <h6 class="card-category text-info">沙之书</h6>
        <h3 class="card-title">发布作品</h3>
        <p class="card-description">
          与社区里的奇幻爱好者们分享你内心的奇妙世界。
        </p>
        <p class="card-description">
          不要害怕失败，参天大树也是从发芽开始，现在就迈出从0到1的一步吧...
        </p>
        <button class="btn btn-outline-success btn-round" data-toggle="modal" data-target="#novel-create-modal">
          <i class="material-icons">subject</i> 发布作品
        </button>
      </div>
    </div>
  {% else %}
    {# 有作品 #}
    <div class="table-responsive">
      <table class="table table-shopping">
        <thead>
        <tr>
          <th class="text-center"></th>
          <th>作品</th>
          <th class="th-description">最新章节</th>
          <th class="th-description text-center">总字数</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for work in works %}
        <tr>
          <td>
            <div class="img-container">
              <img src="{{ MEDIA_URL }}default/covers/default.png" alt="cover image">
            </div>
          </td>
          <td class="td-name">
            <h4>
              <a href="#" class="text-info" style="vertical-align: middle">{{ work.name }}</a>
              <span class="badge badge-pill badge-{{ work|novel_status_color }}" style="vertical-align: middle">{{ work.get_status_display }}</span>
            </h4>
            <h5 class="text-muted font-weight-light"><small>{{ work.category.name }} - {{ work.sub_category.name }}</small></h5>
          </td>
          <td>
            {{ work.chapter_set.first.title|default:"-" }}
          </td>
          <td class="text-center">
            {{ work.word_count }}
          </td>
          <td class="td-actions">
            <div class="btn-group">
              <button type="button" class="btn btn-link">编辑</button>
              <button type="button" class="btn btn-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% else %}

{% endif %}