{% extends 'account/layout.html' %}
{% load static %}
{% block title_content %}重置密码{% endblock %}
{% block body_class %}login-page sidebar-collapse{% endblock %}
{% block main_account %}
  <div class="page-header header-filter"
       style="background-image: url('{% static 'images/background/1920x1200/bg2.jpg' %}'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
          <form class="form" method="post">
            {% csrf_token %}
            <div class="card card-login card-hidden">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">重置密码</h4>
              </div>
              <div class="card-body ">
                <p class="card-description text-center">请输入你的新密码</p>
                {{ form.non_field_errors }}
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    {{ form.new_password1 }}
                  </div>
                  {{ form.new_password1.errors }}
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    {{ form.new_password2 }}
                  </div>
                  {{ form.new_password2.errors }}
                </span>
              </div>
              <div class="card-footer justify-content-center">
                <button type="submit" class="btn btn-rose btn-link btn-lg">重置密码</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% include 'blocks/footer.html' %}
  </div>
{% endblock %}
{% block js_account %}
  <script>
    $(function () {
      let $form = $('form');
      let validator = $form.validate({
        rules: {
          new_password2: {
            equalTo: 'input[name=new_password1]',
            minlength: 8
          }
        },
        messages: {
          new_password2: {
            equalTo: '两次输入的密码不一致',
            minlength: 8
          }
        },
        errorPlacement: function (error, element) {
          error.appendTo(element.parent().parent())
        },
        errorClass: 'errorlist d-block'
      });
      $form.submit(function (e) {
        // validate
        if (!validator.form()) {
          return false
        }
      })
    })
  </script>
{% endblock %}