{% extends 'user/layout.html' %}
{% load static %}
{% block title_content %}{{ object.username }}的领地{% endblock %}
{% block css_user %}
  <style>
    .visitors img.avatar {
      width: 30px;
      height: 30px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 5px;
    }
  </style>
{% endblock %}
{% block main_user %}
  <div class="page-header header-filter" data-parallax="true"
       style="background-image: url('{% static 'images/background/1920x1200/bg4.jpeg' %}');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="{% static 'images/avatar1.jpeg' %}" alt="Circle Image"
                     class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">
                {% with name=object.nickname|default:object.username %}

                  <h3 class="title">{% if object.is_author %}{{ object.authorinfo.name }} ({{ name }}){% else %}
                    {{ name }}{% endif %}</h3>
                {% endwith %}
                <h6><span
                    class="badge badge-{{ object.is_author|yesno:'rose,secondary' }}">{{ object.is_author|yesno:'作家,读者' }}</span>
                </h6>
                {# 放徽章 #}
                <a href="#" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-whatsapp"></i></a>
                <a href="#" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-youtube"></i></a>
                <a href="#" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
            <div class="follow">
              <button class="btn btn-fab btn-primary btn-round" rel="tooltip" title="Follow this user">
                <i class="material-icons">favorite</i>
              </button>
            </div>
          </div>
        </div>
        <div class="description text-center">
          <p>{{ object.description }}</p>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <!--
                                                        color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                                -->
                <li class="nav-item">
                  <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"
                     data-url="{% url 'portal:user_profile' object.id %}">
                    <i class="material-icons">face</i>
                    首页
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#circle" role="tab" data-toggle="tab">
                    <i class="material-icons">camera</i>
                    圈子
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#works" role="tab" data-toggle="tab"
                     data-url="{% url 'portal:user_works' object.id %}">
                    <i class="material-icons">library_books</i>
                    作品
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#settings" role="tab" data-toggle="tab">
                    <i class="material-icons">settings</i>
                    设置
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-7 ml-auto mr-auto ">
            <div class="tab-content tab-space">
              <div class="tab-pane active" id="profile">
                <div>加载中……</div>
              </div>
              <div class="tab-pane" id="circle">
                <div class="row">
                  <div class="col-md-5 ml-auto mr-auto">
                    <div class="card card-profile card-plain">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="card-header card-header-image">
                            <a href="#pablo">
                              <img class="img" src="../assets/img/faces/avatar.jpg">
                            </a>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="card-body">
                            <h4 class="card-title">Gigi Hadid</h4>
                            <h6 class="card-category text-muted">Model</h6>
                            <p class="card-description">
                              Don't be scared of the truth because we need to restart the human foundation in truth...
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 mr-auto ml-auto">
                    <div class="card card-profile card-plain">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="card-header card-header-image">
                            <a href="#pablo">
                              <img class="img" src="../assets/img/faces/marc.jpg">
                            </a>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="card-body">
                            <h4 class="card-title">Marc Jacobs</h4>
                            <h6 class="card-category text-muted">Designer</h6>
                            <p class="card-description">
                              Don't be scared of the truth because we need to restart the human foundation in truth...
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5 ml-auto mr-auto">
                    <div class="card card-profile card-plain">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="card-header card-header-image">
                            <a href="#pablo">
                              <img class="img" src="../assets/img/faces/kendall.jpg">
                            </a>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="card-body">
                            <h4 class="card-title">Kendall Jenner</h4>
                            <h6 class="card-category text-muted">Model</h6>
                            <p class="card-description">
                              I love you like Kanye loves Kanye. Don't be scared of the truth.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 ml-auto mr-auto">
                    <div class="card card-profile card-plain">
                      <div class="row">
                        <div class="col-md-5">
                          <div class="card-header card-header-image">
                            <a href="#pablo">
                              <img class="img" src="../assets/img/faces/card-profile2-square.jpg">
                            </a>
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="card-body">
                            <h4 class="card-title">George West</h4>
                            <h6 class="card-category text-muted">Model/DJ</h6>
                            <p class="card-description">
                              I love you like Kanye loves Kanye.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="works">
                <div class="row">
                  <div class="col-md-3 ml-auto">
                    <img src="{% static 'images/test/mariya-georgieva.jpg' %}" class="rounded">
                    <img src="../assets/img/examples/clem-onojegaw.jpg" class="rounded">
                  </div>
                  <div class="col-md-3 mr-auto">
                    <img src="../assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                    <img src="../assets/img/examples/olu-eletu.jpg" class="rounded">
                    <img src="../assets/img/examples/cynthia-del-rio.jpg" class="rounded">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="settings">
                <div class="row">
                  <div class="col-md-3 ml-auto">
                    <img src="../assets/img/examples/mariya-georgieva.jpg" class="rounded">
                    <img src="../assets/img/examples/clem-onojegaw.jpg" class="rounded">
                  </div>
                  <div class="col-md-3 mr-auto">
                    <img src="../assets/img/examples/clem-onojeghuo.jpg" class="rounded">
                    <img src="../assets/img/examples/olu-eletu.jpg" class="rounded">
                    <img src="../assets/img/examples/cynthia-del-rio.jpg" class="rounded">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 mr-auto ml-auto stats">
            <h4 class="title">阅历</h4>
            <ul class="list-unstyled">
              <li><b>6</b> 作品</li>
              <li><b>4</b> 书单</li>
              <li><b>1020</b> 粉丝</li>
              <li><b>331</b> 创作天数</li>
            </ul>
            <hr>
            <h4 class="title">获得荣誉</h4>
            <p class="description"><span class="badge badge-rose">鸽神</span></p>
            <hr>
            <h4 class="title">最近访客</h4>
            <p class="visitors">
              <a href="#" data-toggle="tooltip" title="大傻子">
                <img src="{% static 'images/avatar2.jpg' %}" alt="visitor" class="avatar img-raised">
              </a>
              <a href="#" data-toggle="tooltip" title="二傻子">
                <img src="{% static 'images/avatar3.jpg' %}" alt="visitor" class="avatar img-raised">
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js_user %}
  <script>
    'use strict';

    let User = (function () {
      function request(tab) {
        tab = tab || '[data-toggle="tab"][href="#profile"]';
        $.ajax({
          url: $(tab).attr('data-url'),
          success: function (res) {
            $($(tab).attr('href')).html('').prepend(res)
          }
        })
      }
      request();
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        let target = e.target;
        request(target)
      })
    })();

  </script>
{% endblock %}