{% extends 'layout.html' %}
{% block body_class %}profile-page sidebar-collapse{% endblock %}
{% block css %}
  {% block css_user %}{% endblock %}
{% endblock %}
{% block main_base %}
  {% include 'blocks/nav.html' %}
  {% block main_user %}{% endblock %}
{% endblock %}
{% block js %}
  <script>
  $('a[data-toggle="tab"][href="#profile"]').on('shown.bs.tab', function (e) {
    console.log(e.target) // newly activated tab
    console.log(e.relatedTarget) // previous active tab
    let $target = $(e.target);
    $.ajax({
      url: $target.attr('data-url'),
      success: function (res) {

      }
    })
  })
  </script>
  {% block js_user %}{% endblock %}
{% endblock %}