<footer class="footer" style="z-index: 2">
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <a href="#">
            Sand Book
          </a>
        </li>
        <li>
          <a href="#">
            关于我们
          </a>
        </li>
        <li>
          <a href="#">
            微博
          </a>
        </li>
        <li>
          <a href="#">
            社区
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      © 2020, <a href="#">沙之书</a> 为了更好的奇幻.
    </div>
  </div>
</footer>